alembic==1.18.3
fastapi==0.118.0
httpx==0.26.0
pydantic==2.11.10
uvicorn==0.17.5
SQLAlchemy==2.0.43
tinytag==1.10.1
nanoid==2.0.0
numpy==1.26.4
pytest==7.1.1
python-multipart==0.0.5
bcrypt==3.2.2
python-jose==3.3.0
email-validator==2.3.0
requests==2.27.1
Unidecode==1.3.4
PyMySQL==1.1.0
sqids==0.3.0
boto3==1.33.7
setproctitle==1.3.3