body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.MuiButton-textPrimary.MuiButton-text,
.MuiListItem-root {
	color: hsl(150 100% 30% / 1);
}

.MuiButton-textPrimary.MuiButton-text:hover,
.MuiListItem-root:hover,
.song-tree-item .MuiTreeItem-content.Mui-selected,
.song-tree-item .MuiTreeItem-content.Mui-selected:hover,
.song-tree-item .MuiTreeItem-content.Mui-selected.Mui-focused {
	background-color: hsl(150 100% 30% / .1);
}

.MuiButton-containedPrimary.MuiButton-colorPrimary {
	background-color: #0A5;
}

.MuiButton-containedPrimary.MuiButton-colorPrimary:hover {
	background-color: hsl(150 100% 30% / 1);
}


.station-menu.MuiGrid-item{
	flex-basis: min-content;
	padding-right: 10px;
}

.station-menu.MuiGrid-container{
	justify-content: space-between;
}

.app-form-select.form-select.MuiAutocomplete-option {
	display: block;
}

.form-select.select-subtext, .form-select.select-subtext.MuiAutocomplete-paper {
	line-height: unset;
}

.role-item {
	margin: .5em;
}

.rule-name {
	font-weight: bold;
}

.rule-body {
	padding:.5em;
}

.rule-entry-body {
	padding:1em;
}

.user-role-container {
	width: 100%;
}

.rule-entry.MuiGrid-container{
	align-items: flex-end;
	margin-bottom: 1em;
	justify-content: flex-start;
}

.rule-name-input.MuiGrid-container {
	margin-bottom: 1em;
}

.small-number-input {
	width: 3em;
}

.between-text {
	margin: .5em;
	display: inline-block;
	vertical-align: top;
}

.rule-entry-first-text {
	display: inline-block;
	width: 5em;
	margin: .5em;
}

.station-button {
	margin: .5rem;
}

.dropdown-field {
	min-width: 195px;
	display: inline-block;
}

.drawer {
	width: 240px
}