#SPDX-License-Identifier: MIT-0
# tasks file for local-cert-setup
---
- name: Assign cert file paths to vars
  set_fact:
    cert_files:
      public: '~/.ssh/{{__cert_prefix_lcs__}}.public.pem'
      private: '~/.ssh/{{__cert_prefix_lcs__}}.private.pem'
      csr: '~/.ssh/{{__cert_prefix_lcs__}}.csr'
- name: Generate an OpenSSL private key.
  openssl_privatekey:
    path: '{{cert_files["private"]}}'
- name: Generate an OpenSSL CSR.
  openssl_csr:
    path: '{{cert_files["csr"]}}'
    privatekey_path: '{{cert_files["private"]}}'
    common_name: '{{__common_name_lcs__}}'
- name: Generate a Self Signed OpenSSL certificate.
  openssl_certificate:
    path: '{{cert_files["public"]}}'
    privatekey_path: '{{cert_files["private"]}}'
    csr_path: '{{cert_files["csr"]}}'
    provider: selfsigned
    selfsigned_not_after: "+7d"
- name: Ensure Browser can see certificate
  become: true
  script: >
    firefox_cert_installer.py
    '{{cert_files["public"]}}'
  args:
    executable: python3
  when: cert_files["public"] != ""
  tags: entitled