#SPDX-License-Identifier: MIT-0
---
# tasks file for radio-setup
- name: Get ices version
  command: '{{prefix}}ices -V'
  failed_when: false
  register: ices_output 
- name: Extract version
  set_fact: 
    ices_version: '{{ices_output.stdout.splitlines()[0].split(" ")[1]}}'
  when: ices_output.rc == 0
- name: End early if already installed.
  meta: end_role
  when: ices_version is defined and ices_version is version(target_version)
- name: Clean out build files
  file:
    path: '{{build_path}}'
    state: absent
- name: Install dependencies
  package: 
    name: '{{item.value}}'
  become: true
  loop: '{{ices_dependencies | dict2items}}'
- name: Install python version specific binary
  package: 
    name: 'python3.{{py_minor_version}}-dev'
  become: true
- name: Install git
  package:
    name: '{{packages["git"]}}'
  become: true
- name: Clone the ices repo
  git:
    dest: '{{build_path}}'
    repo: https://github.com/joelliusczar/ices0.git
    version: restructure-logging
- name: Aclocal
  command:
    cmd: aclocal
    chdir: '{{build_path}}'
    creates: aclocal.m4
- name: Autoreconf
  command:
    cmd: autoreconf -fi
    chdir: '{{build_path}}'
    creates: configure
- name: Run automake
  command:
    cmd: automake --add-missing
    chdir: '{{build_path}}'
- name: Run configure
  command:
    cmd: >
      ./configure 
      '--prefix={{install_path}}' 
      '--with-python={{python_path}}'
      '--with-moddir={{python_module_dir}}'
      '--program-prefix={{prefix}}'
    chdir: '{{build_path}}'
    creates: Makefile
- name: Compile
  command: 
    cmd: make
    chdir: '{{build_path}}'
- name: Install
  command: 
    cmd: make install
    chdir: '{{build_path}}'