#SPDX-License-Identifier: MIT-0
---
# tasks file for radio-setup

- name: Install dependencies
  package: '{{item.value}}'
  become: true
  loop: '{{ices_dependencies | dict2items}}'
- name: Install python version specific binary
  package: 'python3.{{py_minor_version}}-dev'
  become: true
- name: Clone the ices repo
  git:
    dest: '{{build_path}}'
    repo: https://github.com/joelliusczar/ices0.git
    version: restructure-logging
- name: Aclocal
  command:
    cmd: aclocal
    chdir: '{{build_path}}'
  creates: aclocal.m4
- name: Autoreconf
  command:
    cmd: autoreconf -fi
    chdir: '{{build_path}}'
  create: configure
- name: Run automake
  command:
    cmd: automake --add-missing
    chdir: '{{build_path}}'
- name: Run configure
  command:
    cmd: | 
      configure 
      '--prefix={{install_path}}' 
      '--with-python={{python_path}}'
      '--with-moddir={{python_module_dir}}'
      '--program-prefix={{prefix}}'
    chdir: '{{build_path}}'
    creates: Makefile
- name: Compile
  command: make
  chdir: '{{build_path}}'