---
# tasks file for client-setup
- name: Check for asdf
  command: asdf version
  ignore_errors: true
  register: asdf_result
  changed_when: false
  delegate_to: localhost
- name: Pull asdf
  git:
    repo: https://github.com/asdf-vm/asdf.git
    version: v0.14.1
    dest: '~/.asdf'
    update: false
    single_branch: true
  delegate_to: localhost
  when: asdf_result.rc != 0
- name: Add asdf env var to profile
  lineinfile:
    path: ~/.profile
    line: export ASDF_DIR="$HOME/.asdf"
  delegate_to: localhost
- name: Add asdf sourcing line to profile
  lineinfile:
    path: ~/.profile
    line: . "$HOME/.asdf/asdf.sh"
  delegate_to: localhost
- name: Check asdf for nodejs plugin
  command: asdf plugin list
  register: plugin_check_result
  changed_when: false
  delegate_to: localhost
- name: install nodejs plugin
  command: asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
  delegate_to: localhost
  when: '"nodejs" not in plugin_check_result.stdout'
- name: Check asdf nodejs plugin for desired version
  command: asdf list nodejs '{{node_version}}'
  register: version_check_result
  changed_when: false
  delegate_to: localhost
- name: install nodejs version
  command: asdf install nodejs '{{node_version}}'
  ignore_errors: true
  delegate_to: localhost
  when: version_check_result.rc != 0
- name: Build client code
  shell: |
    . "$HOME/.asdf/asdf.sh" &&
    asdf local nodejs {{node_version|quote}} &&
    #set up react then copy
    #install packages
    npm --prefix '../src/client' i &&
    #build code (transpile it)
    npm run --prefix '../src/client' build
  environment:
    ASDF_DIR: '{{"~/.asdf"|expanduser}}'
    VITE_API_VERSION: '{{api_version}}'
    VITE_BASE_ADDRESS: '{{full_url}}'
  delegate_to: localhost
- name: Copy client files
  become: true
  synchronize:
    src: ../src/client/build/
    dest: '{{dest_dir}}'
    delete: true