---
# tasks file for python-setup
- name: Install virtualenv
  become: true
  package:
    name: virtualenv
    state: present
  tags: entitled
- name: Install rsync
  become: true
  package:
    name: rsync
  tags: entitled
- name: Regen Reference file
  script: >
    regen_file_reference_file.py
    '{{sql_scripts_src}}'
    '{{reference_file_out_path}}'
  args:
    executable: python3
  delegate_to: localhost
- name: Set up py env.
  command: 
    argv:
      - python3
      - -m
      - virtualenv
      - '{{working_dir}}/{{env_name}}'
    creates:
      '{{working_dir}}/{{env_name}}/bin/pip'
- name: Extract python version string.
  command: 
    argv:
      - '{{working_dir}}/{{env_name}}/bin/python'
      - -V
  check_mode: false
  register: python_version
- name: Extract python minor version and env path
  set_fact:
    py_minor_version: '{{python_version.stdout.split(" ")[1].split(".")[1]}}'
    py_env_path: '{{working_dir}}/{{env_name}}'
- name: Copy requirements.txt
  copy:
    src: requirements.txt
    dest: '{{py_env_path}}/requirements.txt'
- name: Install python libraries.
  pip:
    chdir: ./
    requirements: '{{py_env_path}}/requirements.txt'
    virtualenv: '{{py_env_path}}'
    virtualenv_python: python
- name: Store library dir path
  set_fact:
    py_lib_dir_dest_path: '{{py_env_path}}/lib/python3.{{py_minor_version}}/site-packages/{{app_details["engine"]}}'
- name: Replace Library Files
  synchronize:
    src: '{{engine_src}}'
    dest: '{{py_lib_dir_dest_path}}'
    delete: true