#SPDX-License-Identifier: MIT-0
---
# handlers file for schedule-setup
- name: Systemd Restart
  systemd_service:
    name: '{{service_name}}.{{(schedule|default("") != "")|ternary("timer","service")}}'
    daemon_reload: true
    enabled: true
    state: '{{(schedule|default("") != "")|ternary("started","reloaded")}}'
    scope: user
  become: true
  become_user: '{{service_owner}}'
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ the_user_uid.stdout }}"
  listen: Restart Service