---
- name: Add test url to hosts file.
  become: true
  lineinfile:
    path: /etc/hosts
    line: '{{inventory_hostname}}{{""|indent(8, True)}}{{__common_name_ngx__}}'
  when: __env_name_ngx__ != "debug"
- name: Generate local cert
  include_role:
    name: local-cert-setup
  vars:
    local_env_name: '{{__env_name_ngx__}}'
    local_cert_prefix: '{{__common_name_ngx__}}'
- name: Replace web config
  become: true
  template: 
    src: nginx_template.j2
    dest: '/etc/nginx/sites-enabled/{{__conf_name_ngx__}}.conf'
  vars:
    listen: 8080 ssl
  notify: Restart nginx
  when: __env_name_ngx__ != "debug"