---
# tasks file for nginx-setup
- name: Install nginx
  package: 
    name: '{{packages["nginx"]}}'
  become: true
- name: Remove default config
  become: true
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
- name: Tasks for a local server
  include_tasks: local.yml
  vars:
    __conf_name_ngx__: '{{app_prefix}}_{{env_name}}'
    __env_name_ngx__: '{{env_name}}'
    __common_name_ngx__: '{{common_name}}'
  when: ansible_host in ["127.0.0.1", "localhost"]

- name: VM setup
  include_tasks: vm.yml
  vars:
    __cert_prefix_ngx__: '{{app_prefix}}'
    __conf_name_ngx__: '{{app_prefix}}'
    __common_name_ngx__: '{{common_name}}'
  when: ansible_host not in ["127.0.0.1", "localhost"] and "192.168.0.0/16"|ansible.utils.network_in_usable(ansible_host)

- name: Remote setup
  include_tasks: remote.yml
  vars:
    __cert_prefix_ngx__: '{{app_prefix}}'
    __conf_name_ngx__: '{{app_prefix}}'
    __server_name_ngx__: '{{server_name}}'
    __keys_ngx__: 
      pb_api_key: '{{keys["pb_api_key"]}}'
      pb_secret: '{{keys["pb_secret"]}}'
  when: ansible_host not in ["127.0.0.1", "localhost"] and not "192.168.0.0/16"|ansible.utils.network_in_usable(ansible_host)


