---
- name: Add test url to hosts file.
  become: true
  lineinfile:
    path: /etc/hosts
    line: '{{inventory_hostname}}{{""|indent(8, True)}}{{__common_name_ngx__}}'
  delegate_to: localhost #for when deploying to a vm
- name: Generate local cert
  include_role:
    name: local-cert-setup
  vars:
    local_cert_prefix: '{{__cert_prefix_ngx__}}'
    local_common_name: '{{__common_name_ngx__}}'
- name: Replace web config
  become: true
  template: 
    src: nginx_template.j2
    dest: '/etc/nginx/sites-enabled/{{__conf_name_ngx__}}.conf'
  vars:
    listen: 443 ssl
  notify: Restart nginx
