#SPDX-License-Identifier: MIT-0
---
# tasks file for schedule-setup
# /etc/systemd/system for root
- name: Set service folder
  set_fact:
    service_folder: '/home/{{service_owner}}/.config/systemd/user'
  when: service_scope|default("user") == "user"
- name: Set service folder
  set_fact:
    service_folder: /etc/systemd/system
  when: service_scope|default("user") == "system"
- name: "Find uid of user"
  command: "id -u {{service_owner}}"
  register: the_user_uid
  check_mode: no # Run even in check mode, otherwise the playbook fails with --check.
  changed_when: false
  become: true
- name: Setup user directory
  file:
    path: '{{service_folder}}'
    state: directory
    owner: '{{service_owner}}'
    group: '{{service_group}}'
  become: true
- name: Add service file
  copy:
    dest: '{{service_folder}}/{{service_name}}.service'
    owner: '{{service_owner}}'
    group: '{{service_group}}'
    content: |
      [Unit]
      Description={{service_description}}

      [Service]
      EnvironmentFile={{env_file}}
      ExecStart={{service_command}}

      [Install]
      WantedBy=default.target
  become: true
  register: service_add_res
- name: Add timer
  copy:
    dest: '{{service_folder}}/{{service_name}}.timer'
    owner: '{{service_owner}}'
    group: '{{service_group}}'
    content: |
      [Unit]
      Description={{service_description}}

      [Timer]
      OnCalendar={{schedule}}
      Persistent=true

      [Install]
      WantedBy=timers.target
  when: schedule|default("") != ""
  become: true
  register: timer_add_res
#we couldn't have this as a handler because it was only firing for the first
#service added
- name: 'Start Service: {{service_name}}'
  systemd_service:
    name: '{{service_name}}.{{(schedule|default("") != "")|ternary("timer","service")}}'
    daemon_reload: true
    enabled: true
    state: '{{(schedule|default("") != "")|ternary("started","reloaded")}}'
    scope: '{{service_scope|default("user")}}'
  become: true
  become_user: '{{service_owner}}'
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ the_user_uid.stdout }}"
  when: service_add_res.changed or timer_add_res.changed

